 
 .navbar {
    background-color: #eee;
    color: #000c66;
    padding: 20px; /* Adjust padding for spacing */
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: left; /* Center content horizontally */
    align-items: left;/* Center content vertically */
}
.navbar-title {
    margin: 0;
}



.left-menu{
    width: 250px;
    background-color:  #050a30;
    padding: 20px;
    height: 100vh;
  }
  .left-menu h2{
    margin-bottom: 15px;
    color: #fff;
    
  } 
  .left-menu ul li{
    list-style-type: none;
    height: 50px;
    color: white;
    
    
  }
  
  .nav-list-item{
    display: flex;
  
  }
  .left-menu ul li a {
   
    padding: 10px 15px;
    text-decoration: none;
   
    color:#eee;
    font-family: var(--font1);
  } 
  .left-menu ul li a:hover {
    /* background-color: #ddd; */
   }

.footer {
    background-color: #eee;
    color: #000c66;
    text-align: center;
    padding: 10px 0;
  }
