.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  color: #000c66;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  font-family: var(--font2);

}

.right-navbar {
  display: flex;
  padding: 30px;

}

.navbar-logout button {

  padding: 8px 12px;
  background-color: #000c66;
  border: none;
  border-radius: 4px;


}

.navbar-logout button a {

  color: white;
  text-decoration: none;
}


body.container {
  display: flex;
  height: 100%;
  max-width: 100%;
}

table {

  width: 100%;
  border-collapse: collapse;

}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  color: white;
  background-color: #1863d6;
}